<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"   lang="es">
	
	<head data-th-replace="~{/layouts/header :: head}"></head>
	
	
	<body>
		
		<header data-th-replace="~{/layouts/header :: header}"></header>
		
		<script th:inline="javascript">
		        /*<![CDATA[*/
		        let alertMessage = /*[[${alertMessage}]]*/ 'null';
		        if (alertMessage) {
		            alert(alertMessage);
		        }
		        /*]]>*/
		    </script>

		<main class="container-fluid">
			
			<div th:if="${mensaje != ''}" th:classappend="${exito} ? 'alert-success' : 'alert-danger' " class="alert  alert-dismissible fade show text-center z-0" role="alert">
							
				<strong>Holy guacamole!</strong> <span data-th-text="${mensaje}"></span>
					  
					  
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
						
			<h2 class="text-center">Listado de Docentes</h2>
			<div class="container text-end">
		    	<a type="button" class="btn btn-primary mt-5 b" data-th-href="@{/docente/formulario}" >Agregar</a>
			</div>
			
			<div class="overflow-x-scroll s">
			    <table  class="table table-striped align-middle text-center mt-3 mb-5 border border-4 border-primary">
			        <thead>
			        <tr>
			            <th scope="col"> Legajo </th>
			            <th scope="col"> Nombre </th>
			            <th scope="col"> Apellido </th>
			            <th scope="col"> Email </th>
			            <th scope="col"> Telefono </th>
			            <th scope="col"> Opciones </th>
			        </tr>
			        </thead>
			        <tbody>
			        <tr class="col-2" data-th-each="doc: ${docentes}" >
			            <td data-th-text="${doc.legajo}"> </td>
			            <td data-th-text="${doc.nombre}"> </td>
			            <td data-th-text="${doc.apellido}"> </td>
			            <td data-th-text="${doc.email}"> </td>
			            <td data-th-text="${doc.telefono}"> </td>
			            <td>
							
			                <a type="button" role="button" class="btn btn-warning me-2 b" data-th-href="@{/docente/modificar/}+${doc.legajo}" > Editar </a>
							
							<!-- BOTON QUE LLAMA AL MODAL -->
							<button type="button" class="btn btn-danger me-2 b" data-bs-toggle="modal" th:attr="data-bs-target=${'#modalEliminar' + doc.legajo}"  >
							  Eliminar
							</button>
							
							<!-- Modal -->
							<div class="modal fade" th:id="${'modalEliminar' + doc.legajo}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
							  <div class="modal-dialog">
							    <div class="modal-content">
							      <div class="modal-header">
							        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
							        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							      </div>
							      <div class="modal-body row">
									<b> ¿Seguro que deseas dar de baja a este Docente?: </b>
									<p>	<b>Legajo: </b> <span data-th-text="*{doc.legajo}">  </span></p>
									<p>	<b>Nombre: </b>	<span data-th-text="*{doc.nombre}">  </span></p>
									<p>	<b>Apellido: </b>	<span data-th-text="*{doc.apellido}">  </span></p>
								  </div>
							      <div class="modal-footer">
							        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
									<!-- BOTON ELIMINAR-->
			                		<a type="button" role="button" class="btn btn-danger me-2 b" data-th-href="@{/docente/eliminar/}+${doc.legajo}" > Eliminar </a>
							      </div>
							    </div>
							  </div>
							</div>
			            </td>
						
			        </tr>
			        </tbody>
			    </table>
			</div>
		</main>
		
		<footer data-th-replace="~{/layouts/footer :: footer}"></footer>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/dist/js/bootstrap.bundle.min.js}" ></script>
	</body>
	
</html>