input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.h{
	transition: all 900ms ease;
}
.h:hover {
	box-shadow: 0px 11px 16px -5px rgba(0,0,0,0.67);
	
}

.f{
	transition: all 600ms ease;
}
.f:hover {
	box-shadow: 0px 0px 29px -1px rgba(0,0,0,0.87);
	
}

.b {
	transition: all 800ms ease;
}

.b:hover{
	transform: scale(1.1,1.1);
}
main .b:hover{
	box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.87);
}

.s::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, Opera */
}