<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"   lang="es">
	

<body>



	<footer th:fragment="footer" class="container mt-5 text-center d-flex flex-wrap justify-content-center bg-secondary p-3" id="pie">
			<hr>
			<h3 class="subtitulo col-12 mt-2 text-white my-3 mb-5">Información de contacto</h3>
			<p class="p-2 col-md-4 p-md-0 gap-md-0"><b>Dirección: </b>  Ítalo Palanca Nº 10</p>
			<p class="p-2 col-md-4 p-md-0 gap-md-0"><b>Número de telefono: </b>+5493884767955</p>
			<p class="p-2 col-md-4 p-md-0 gap-md-0"><b>Correo electronico: </b><a class="link-light link-offset-2" href="mailto:info@fi.unju.edu.ar">info@fi.unju.edu.ar</a></p>
			<p class="p-2 col-md-4 p-md-0 gap-md-0" ><b>Instagram: </b> <a class="link-light link-offset-2" href="https://www.instagram.com/fiunju/"> Fi.unju.edu.ar.Instagram </a> </p>
			<p class="p-2 col-md-4 p-md-0 gap-md-0" ><b>Facebook: </b> <a class="link-light link-offset-2" href="https://www.facebook.com/fiunju/"> Fi.unju.edu.ar.Facebook </a> </p>
			<p class="p-2 col-md-4 p-md-0 gap-md-0" ><b>Linkedin: </b> <a class="link-light link-offset-2" href="https://www.linkedin.com/school/facultad-de-ingenieria-unju"> Fi.unju.edu.ar.Linkedin </a> </p>
			<div class="col-12 mt-5 bg-secondary-subtle p-1">
				<p class="col-12 m-0" id="copyright">Copyright © 2014-2022 - Facultad de Ingeniería - UNJu</p>
			</div>
	</footer>
</body>

</html>